.trending-header {
	display: flex;
	margin-top: 60%;
	justify-content: space-between;
	align-items: baseline;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.trending-header p {
	font-size: 2rem;
	color: rgb(244, 22, 67);
	font-weight: bolder;
}

.carousel {
	position: absolute;
	width: 80%;
	top: 45%;
	left: 10%;
	right: auto;
	display: flex;
	justify-content: center;
	margin-top: 26px;
	overflow: hidden;
}

.carousel-inner {
	/* outline: 2px solid red; */
	/* position: relative; */
	overflow: hidden;
	width: 100%;
}

.carousel-open:checked + .carousel-item {
	position: static;
	opacity: 100;
}

.carousel-item {
	position: absolute;

	display: inline-block;
	opacity: 0;
	width: 100%;
	/* -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out; */
}

.carousel-item img {
	object-fit: contain;
	border-radius: 40px;
	display: block;
	height: auto;
	width: 100%;
	height: 500px;
}

.carousel-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}

.carousel-control.prev {
	left: 2%;
}

.carousel-control.next {
	right: 2%;
}

.carousel-control:hover {
	background: rgb(244, 22, 67);
	color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
	display: block;
}

.carousel-indicators {
	bottom: -10%;

	text-align: center;
	z-index: 20;
}

.carousel-indicators li {
	display: inline-block;
	margin: 0 5px;
}

.carousel-bullet {
	color: black;
	cursor: pointer;
	display: block;
	font-size: 35px;
}

.carousel-bullet:hover {
	color: #aaaaaa;
}

#carousel-1:checked
	~ .control-1
	~ .carousel-indicators
	li:nth-child(1)
	.carousel-bullet,
#carousel-2:checked
	~ .control-2
	~ .carousel-indicators
	li:nth-child(2)
	.carousel-bullet,
#carousel-3:checked
	~ .control-3
	~ .carousel-indicators
	li:nth-child(3)
	.carousel-bullet {
	color: rgb(244, 22, 67);
}

#title {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: "Open Sans", sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
		-1px 0px 2px rgba(255, 255, 255, 0);
}
